.update-form{
    width: 300px;
    background: white;
    border: 1px solid rgba(37, 37, 37, 0.5);
    border-radius: 5px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.update-form input{
    margin-bottom: 10px;
    width: 90%;
    padding: 8px;
    outline: none;
    border-radius: 4px;
    border: none;
    border-bottom: 1px solid rgba(37, 37, 37, 0.5);
}

.update-form p{
    margin: 0;
}

.btnsForm{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.btnsForm button{
    margin-left: 10px;
    background: rgb(139, 64, 189);
    outline: none;
    border: 1px solid rgba(37, 37, 37, 0.5);
    border-radius: 3px;
    padding: 5px;
    color: white;
    cursor: pointer;
}